OhFOSFacebookUserBundle_homepage:
    pattern:  /
    defaults: { _controller: OhFOSFacebookUserBundle:Default:index }
    
_security_logout:
    pattern:  /logout
    defaults: { _controller: OhFOSFacebookUserBundle:Default:logout }
_facebook_secured:
    pattern: /secured/
    defaults: { _controller: OhFOSFacebookUserBundle:Secured:index }
fos_facebook_security_check:
    pattern: /fb/login_check
    defaults: { _controller: OhFOSFacebookUserBundle:Default:fbLoginCheck }   
	
fos_user_security:
    resource: "@FOSUserBundle/Resources/config/routing/security.xml"

fos_user_profile:
    resource: "@FOSUserBundle/Resources/config/routing/profile.xml"
    prefix: /profile

fos_user_register:
    resource: "@FOSUserBundle/Resources/config/routing/registration.xml"
    prefix: /register

fos_user_resetting:
    resource: "@FOSUserBundle/Resources/config/routing/resetting.xml"
    prefix: /resetting

fos_user_change_password:
    resource: "@FOSUserBundle/Resources/config/routing/change_password.xml"
    prefix: /profile
    
